body {
	font-family: Roboto, sans-serif;
	background-color: #CCC;
	color: #FFF;
}

core-toolbar {
	background-color: #212121;
	color: #FFF;
}


core-drawer-panel:not([narrow]) #navicon {
	display: none;
}

[drawer] {
	background-color: #121212;
}

